@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 0;
  background: rgb(40, 40, 40);
  font-family: "Space Mono", monospace;
  background-image: url("https://wallpaperaccess.com/full/1094289.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f0e68c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select {
  font-family: "Space Mono", monospace;
  border: solid black 3px;
  border-radius: 10px;
  padding: 5px;
  color: #f0e68c;
  background-color: midnightblue;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: 0c164f;
}

.rocketrocketrocketship {
  width: 100px;
  position: relative;
  transform: translateX(-100px), rotate(-23deg);
  animation-name: blastoff;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.hidden {
  display: none;
}

@keyframes blastoff {
  from {
    margin-left: -18%;
  }
  to {
    margin-left: 50%;
  }
}

input {
  color: red;
}

.speed {
  padding: 5px;
  border-radius: 5px;
  border: solid black 3px;
  background-color: grey;
  color: orange;
  margin: 10px;
  font-family: "Space Mono", monospace;
}

.planet {
  width: 25%;
  margin: 0 100px;
}
