@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 0;
  background: rgb(40, 40, 40);
  font-family: "Space Mono", monospace;
  background-image: url("https://wallpaperaccess.com/full/1094289.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f0e68c;
}

.text {
  color: #f0e68c;
  font-family: "Space Mono", monospace;
}

select {
  font-family: "Space Mono", monospace;
  border: solid black 3px;
  border-radius: 10px;
  padding: 5px;
  color: #f0e68c;
  background-color: midnightblue;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: 0c164f;
}

.rocketrocketrocketship {
  width: 100px;
  position: relative;
  transform: translateX(-100px) rotate(-23deg);
  animation-name: blastoff;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes blastoff {
  0% {
    margin-left: -25%;
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 50px;
    margin-left: 37.5%;
    transform: rotate(67deg);
  }
  100% {
    margin-left: 50%;
    transform: rotate(-23deg);
    margin-bottom: 0;
  }
}

input {
  color: red;
}

.speed {
  padding: 5px;
  border-radius: 5px;
  border: solid black 3px;
  background-color: grey;
  color: orange;
  margin: 10px;
  font-family: "Space Mono", monospace;
}

.planet {
  width: 25%;
  margin: 0 100px;
}

.rocketSpacer {
  height: 146px;
}

.time {
}
